@import "./vendors/modern-normalize";
@import "./utils/variables";
@import "./bace/fonts";
@import "./bace/common";
@import "./bace/container";
@import "./components/button";
@import "./components/mobile-menu";
@import "./components/social-list";
@import "./components/social-icon";
@import "./components/logo";
@import "./components/title";
@import "./components/modal";
@import "./layouts/section";
@import "./layouts/grid";
@import "./layouts/header";
@import "./layouts/hero"; 
@import "./layouts/skill";
@import "./layouts/work";
@import "./layouts/team";
@import "./layouts/client";
@import "./layouts/footer";
@import "./layouts/subscribe";
@import "./layouts/portfolio";
@import "./layouts/project";

    


  


