.main-button {
    display: inline-block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    color: var(--page-title-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--accent-color-hover);
    }
}
    
   
     
      