html{
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after{
    box-sizing:inherit;
   
  } 
  
  
  body {
    margin: 0;
    color:var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    }
  
    a{
      outline:none;
    }
  
  img{
    display: block;
    max-width: 100%;
    height: auto;
    }
  
   ul{
     list-style: none;
     padding: 0;
     margin: 0;
   } 
  
  h1,
  h2,
  h3,
  p{
    margin: 0;
  }
  
  .address{
    font-style: normal;
  }
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  .link{
    display: inline-block;
    align-items: center;
    text-decoration: none;
    color:inherit;
    transition: color var(--animation);
  }
  
  .link:hover,
  .link:focus{
  color:var(--accent-color);
  }
  .list{
  list-style: none;
  color:inherit;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
    
    }
    
    .current{
        position: relative;
        color: var(--accent-color);
        }
        .current:after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 4px; 
        background-color: var(--accent-color);
        border-radius: 2px;
        background-repeat: no-repeat;
        opacity: 1;
        transition: opasity 250ms var(--timing-function);
        }
        
  