.header{
border-bottom: 1px solid rgba(236, 236, 236, 0.5);

&--pos{ 
  display: flex;
  justify-content:flex-end;
  align-items: center;
  @media screen and (max-width: 768px){
    justify-content: space-between;
}
}
}

.menu-button {
display: relative;
width: 40px;
height: 40px;
margin: 0;
padding: 0;
z-index: 105;
border: none;
background-color: transparent;
@media screen and (min-width: 768px){
  display: none;
}
}
.menu-button .icon-cross {
display: none;
}
.menu-button.is-open .icon-cross {
display: block;

}
.menu-button.is-open .icon-menu {
display: none;
}
 
  .menu-container {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100vw;
    min-height: 300px;
    z-index: 100;
    background-color: #ffffff;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: start;
    font-size: 20px;

    &.is-open {
      top: 0;
    }
    
  }
  
  
  .mobile--bottom{
    position: absolute;
    bottom: 0;
  }

  .header-social{
display: flex;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);
  }
  .header-social__item:not(:first-child){
      padding-left: 10px;
  }
  .header-social__item:not(:last-child){
padding-right: 10px;
border-right: 1px solid rgba(33,33,33,0.2) ;
  }
  .menu__mail{
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;

color: #757575;
  }

.menu__tell{
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  
  color: #2196F3;
}  
  
  