 .portfolio__grid{
  @media screen and (min-width: 768px){
    --grid__item: 2;
  }
  @media screen and (min-width: 1200px){
    --grid__item: 3;
  }
 } 
  .portfolio__btn{
  display: inline-block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color:var(--title-color); 
  background-color: var(--grey-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em; 
  transition: background-color var(--animation);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus{
  background-color: var(--accent-color-hover);
  color:var(--page-title-color);
  } 
  
  &--shadow:hover,
  &--shadow:focus{
  background: var(--accent-color-hover);
  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  } 
}


.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px; 
}
@media screen and (max-width: 767.98px) {
  .portfolio__list {
    justify-content: start;
  .portfolio__item:nth-child(4){
    margin-left: 0;
} 
  }
}
.portfolio__item:not(:first-child){
  margin-left: 8px;
}
@media screen and (max-width: 1199.98px) {
  .portfolio__list {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .portfolio__item {
    margin-bottom: 15px;
  }
}
  .portfolio__title{
    margin-bottom: 4px;
    color:var(--title-color);
    font-weight: 700; 
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
  }